@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: 'Roboto', sans-serif;
}

.custom-placeholder::placeholder {
    color: #000;
    padding-left: 2.125rem;
}

body{
    background-color: #f9f9f9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.header-input-background{
    background-color: #f9f9f9;
}

.container{
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
}

.app-block{

}


#error-message {
    transition: 0.7s all;
    opacity: 1;
}

#error-message.invisible {
    opacity: 0; /* Hidden state opacity: 0 (fully transparent) */
}

.overflow-x-auto::-webkit-scrollbar {
    display: none;
}

.overflow-y-auto::-webkit-scrollbar {
    display: none;
}

.glide__slide {
    position: relative;
    overflow: hidden;
}
